/* File information */
/*
    Version: 0.50.01 (Pre-Beta)
    Creator: Michael Yurachek
    Last updated: 05 / 30 / 2024
*/

/* Page styling standards */
* {
    padding: 0;
    margin: 0;
    overflow: none;
    user-select: none;
    font-family: "bellyReg", sans-serif;
}

/* Font face (custom font setup) */
@font-face {
    font-family: 'babyPlum';
    src: url("/men-vs-woman/assets/fonts/babyPlum.ttf"); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
}

@font-face {
    font-family: 'bellyReg';
    src: url("/men-vs-woman/assets/fonts/bellyReg.ttf"); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
}

@font-face {
    font-family: 'inapReg';
    src: url("/men-vs-woman/assets/fonts/inapReg.ttf"); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
}

/* :root setup for color pallete */
:root {
    --lighter: rgb(236, 236, 255);
    --light: rgb(193, 193, 226);
    --mid: rgb(135, 135, 158);
    --dark: rgb(89, 89, 119);
    --darker: rgb(55, 55, 75);
    --grey: rgb(100, 100, 105);
}

/* Scroll bar decor */
::-webkit-scrollbar {
    width: 10px;
    background-image: linear-gradient(to top, var(--grey), var(--dark));
}

::-webkit-scrollbar-button {
    background-color: var(--darker);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 20px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

/* Background and page container */
body {
    background-color: black;
    overflow-x: hidden;
}

.pageContainer {
    width: 100vw;
    height: 600vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* Page sections and styling */
.pageSections {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: .2vh solid white;
}

#headerSection {
    background-color: var(--darker);
    gap: 2vh;
    background-image: url("/men-vs-woman/assets/images/background/headerBackground.png"); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.199) inset;
}

#fjIncSection {
    background-image: url("/men-vs-woman/assets/images/background/mountainBack.jpg");
    flex-direction: row;
}

#fjEducSection {
    background-image: url("/men-vs-woman/assets/images/background/transparentBackground.png"), linear-gradient(to right, var(--darker), var(--lighter)); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
    background-size: cover;
    filter:saturate(200%);
    box-shadow: 0 0 20vw rgba(0, 0, 0, 0.493) inset;
    flex-direction: row;
    gap: 2.5vw;
}

#ageDifSection {
    background-color: var(--lighter);
    flex-direction: row;
    gap: 1vw;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.458) inset;
}

#informationSourceSection {
    background-image: linear-gradient(45deg, rgb(37, 38, 47), rgb(49, 51, 69));
    flex-direction: column;
}

#presentationSection {
    background-image: url("/men-vs-woman/assets/images/background/sceneBeach.jpg"); /* CHANGE TO /men-vs-woman/ WHEN COMMITING */
    box-shadow: 0 0 200px black inset;
    flex-direction: row;
    overflow: hidden;
}

/* Header section decor */
.headerParts {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTitle {
    flex-direction: column;
}

#headerTitle h1 {
    padding: 1vh;
    width: 90vw;
    text-align: start;
    font-size: 3.5em;
    color: var(--lighter);
    text-shadow: .1em .1em 0 var(--dark);
}

#headerTitle h3 {
    width: 90vw;
    padding: .5vh;
    text-align: start;
    font-size: 2.5em;
    color: var(--lighter);
    text-shadow: .1em .1em 0 var(--dark);
}

#headerSocials {
    width: 90vw;
    height: 5vh;
    overflow: show;
    display: flex;
    justify-content: left;
    gap: 1vw;
}

.headerIcons {
    width: auto;
    height: 3vh;
    cursor: pointer;
    transition: 0.1s;
}

.headerIcons:hover {
    transform: scale(1.1);
}

#headerList {
    flex-direction: column;
    gap: 2vh;
}

#headerList h2 {
    font-size: 2em;
    color: var(--lighter);
    text-shadow: .1em .1em 0 var(--dark);
    width: 90vw;
    text-align: left;
}

#headerList ul {
    color: var(--lighter);
    text-shadow: .1em .1em 0 var(--dark);
    width: 90vw;
    text-align: left;
    line-height: 3vh;
    font-size: 1.2em;
}

#headerCopyright {
    align-items: end;
}

#headerCopyright p {
    color: var(--lighter);
    width: 90%;
    text-align: right;
    padding: 2vh;
    font-weight: bold;
    text-shadow: 0.1em 0.1em var(--grey);
}

/* Finance and work section decor */
.fjInfoHolder {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}

#fjInfo h1 {
    color: var(--lighter);
    font-size: 3em;
    width: 70%;
    text-align: center;
    text-wrap: wrap;
    text-shadow: .1em .1em 0 var(--mid);
}

.fjDescriptionHold {
    width: 90%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.574);
    box-shadow: .3vw .3vw 0 var(--lighter);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.1s ease-in;
}

.fjDescriptionHold:hover {
    background-color: rgba(41, 39, 61, 0.533);
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: .5vw .5vw 0 var(--darker);
}

.fjDescriptionHold h3 {
    color: var(--lighter);
    padding: 2vh;
    font-size: 2em;
}

.fjDescriptionHold p {
    color: var(--light);
    width: 80%;
    text-align: center;
    font-weight: bold;
    line-height: 3vh;
    font-size: 1.25em;
}

#fjImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    flex-direction: column;
}

#fjImages img {
    width: 40vw;
    height: auto;
    border-radius: .5vw;
    box-shadow: .5vw .5vw 0 var(--dark);
}

/* Education Information Decor */
.educationContainer {
    width: 29vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.educationContainer p {
    color: white;
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    line-height: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#edcDescReps {
    gap: 2vh;
}

.educationContainer h3 {
    font-size: 2.5em;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#edcGraphs {
    width: 35vw;
    height: 100vh;
}

#highGraph {
    display: block;
}

.edGraphImages {
    display: none;
    width: 95%;
    height: auto;
    border-radius: 10px;
}

.imageNavButtons {
    color: white;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 1vh;
    font-size: 3em;
    border-radius: 100vw;
    text-align: center;
    transition: 0.1s ease-in;
    position: absolute;
}

.imageNavButtons:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: var(--light);
    text-shadow: 0 0 5px var(--lighter);
}

#edcBackBtn {
    top: 48vh;
    left: 30vw;
}

#edcNextBtn {
    top: 48vh;
    right: 30vw;
}

/* Age Difference and Death Rate decor */
.ageContainerBlock {
    width: 48vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.ageContainerBlock img {
    width: 90%;
    height: auto;
    border: 2px ridge black;
}

.ageContainerText {
    width: 95%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(193, 189, 209);
    background-image: linear-gradient(45deg, rgba(91, 88, 88, 0.623), rgba(51, 51, 70, 0.721));
}

.ageContainerText h1 {
    color: var(--light);
    font-size: 3em;
    text-shadow: .1em .1em 0 var(--dark);
    padding: 1vh;
    font-family: 'inapReg', sans-serif;
}

.ageContainerText p {
    color: var(--light);
    font-size: 1.2em;
    width: 90%;
    text-align: center;
    font-weight: bold;
    line-height: 3.45vh;
    font-family: 'bellyReg', sans-serif;
}

/* Source links decor */
#informationSourceSection h1 {
    color: var(--lighter);
    font-size: 3.5em;
    text-shadow: .05em .05em 0 var(--mid);
    padding: 3vh;
}

#sourceLinksBox {
    width: 60%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.394);
    border-radius: 30px;
    box-shadow: 0 0 40px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.sourceText {
    padding: 2vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0));
    width: 80%;
    text-decoration: none;
    color: var(--light);
    font-size: 1.7em;
    border-left: 5px ridge white;
    transition: 0.2s ease;
}

.sourceText:hover {
    color: var(--lighter);
    text-shadow: .1em .1em 0 var(--dark);
    font-weight: bold;
    padding: 2.5vh;
    background-image: linear-gradient(to right, var(--dark), rgba(52, 59, 94, 0.054), rgba(0, 0, 0, 0));
}

/* Presentation & video decor */
.presentBlocks {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nonVideoHolder {
    background-color: rgba(0, 0, 0, 0.867);
    box-shadow: 0 0 40px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nonVideoHolder h1 {
    color: white;
    font-size: 3em;
    padding: 2vh;
}

#nonVideoHolder p {
    width: 90%;
    padding: 5vh;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#nonVideoHolder a {
    width: 90%;
    padding: 2vh;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    font-size: 1.5em;
    transition: 0.2s ease;
}

#nonVideoHolder a:hover {
    font-size: 1.8em;
    padding: 2vh;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 230, 173);
    text-shadow: .1em .1em 0 rgb(107, 118, 132);
}